html, body { 
    margin: 0;
    height: 100%;
    font-family: arial;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header, footer {
  height: 100px;
  background-color: #444;
}

main, .outer-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

section {
    flex: 1 auto;
    padding: 20px;
}

aside {
    background-color: #ddd;
    min-width: 250px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h2 {
    margin: 0;
}

.category {
    border: 1px solid #444;
    float: left;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
}

#buttons button {
    font-size: 120%;
    width: 100%;
}

.confirmation-container {
    text-align: center;
}

.confirmation-container .main-message {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
}

.confirmation-container .product-list {
  padding: 5px;
}

.confirmation-container .error {
  color: red;
}