<section class="confirmation-container">
  <h1>Thank you!</h1>

  <p class="main-message">The following products will become available to you shortly:</p>
  <p class="product-list">
    <p ng-show="confirmedProducts" ng-repeat="product in confirmedProducts">{{ product.name }}</p>
    <p class="error" ng-show="error">{{ error }}</p>
  </p>
</section>