<div class="outer-container">
  <section>
    <div id="status-message" ng-hide="productsByCategory" ng-bind="loadingStatus"></div>

    <div class="category" ng-repeat="(categoryName, products) in productsByCategory">
      <h2>{{ categoryName }}</h2>
      <p ng-repeat="product in products">
        <input type="checkbox" id="{{ product.id }}" ng-click="updateProductSelection($event, product)" ng-disabled="submissionInProgress">
        <label for="{{ product.id }}">{{ product.name }}</label>
      </p>
    </div>
  </section>

  <aside>
    <div id="basket">
      <h2>Basket</h2>

      <ul ng-show="selectedProducts.count()">
        <li ng-repeat="(product_id, product) in selectedProducts.items()">{{ product.name }}</li>
      </ul>
    </div>

    <div id="buttons">
      <button ng-disabled="!canCheckout()" ng-click="proceedToCheckout()">Checkout</button>
    </div>
  </aside>
</div>